page-login {

   #sign-in-button{
    text-transform: none; 
    top: -2%;
    right: 0%; 
    position: absolute;
   }
   .hand-in-circle{
    background-color: white;
    height: 50%;
    width: 50%;
    bottom: 1%;
    position: absolute;
    left: 25%;
    border-radius: 50%;
   }
}
